body {
    background: url('../images/page-tm-sm1_bg.png') center/cover no-repeat;
}
header {
    background: url('../images/page-tm-sm1_logo.png') left/contain no-repeat;
}
.gallery {
    visibility: visible;
}
.gallery li:nth-child(1) {
    background: url('../images/page-tm-sm1_pic1.png') center/cover no-repeat;
}
.gallery li:nth-child(2) {
    background: url('../images/page-tm-sm1_pic2.png') center/cover no-repeat;
}
.gallery li:nth-child(3) {
    background: url('../images/page-tm-sm1_pic3.png') center/cover no-repeat;
}
.gallery li:nth-child(4) {
    background: url('../images/page-tm-sm1_pic4.jpg') center/cover no-repeat;
}