body {
    background: url('../images/page-ag-sm2_bg.png') center/cover no-repeat;
}
header {
    background: url('../images/page-ag-sm2_logo.png') left/contain no-repeat;
}
.gallery li:nth-child(1) {
    background: url('../images/page-ag-sm2_pic1.png') center/cover no-repeat;
}
.gallery li:nth-child(2) {
    background: url('../images/page-ag-sm2_pic2.png') center/cover no-repeat;
}
.gallery li:nth-child(3) {
    background: url('../images/page-ag-sm2_pic3.png') center/cover no-repeat;
}
.gallery li:nth-child(4) {
    background: url('../images/page-ag-sm2_pic4.jpg') center/cover no-repeat;
}